# EditorConfig file (https://editorconfig.org) is a way to organize
# the code styling across text editors and IDEs that support it.

# Please use the editorConfig extension provided by your text editor of choice.

# top-most EditorConfig file.
root = true

# Unix style newlines prefered.
end_of_line = lf

# Insert a newline at the end of all files
insert_final_newline = true

# Default character set to UTF-8
charset = utf-8

# Use 4 indentations globally except for IML/XML, check next section.
[!*.{iml,xml}]
indent_size = 4

# IML & XML configuration based on ./.idea/*.iml
[*.{iml,xml}]
indent_size = 2
indent_style = space

# Use spaces if the file is a python file.
[*.py]
indent_style = space

# Use tabs if the file is NOT a python, IML nor XML file.
[!*.{py,iml,xml}]
indent_style = tab