__pycache__/
results
domains.txt
env/
*.pyc
test-results
savedstate.sav
build/
dist/
katana.egg-info
.requirements.txt.swp
docs/build
*.swp
monitor/
*.ini
domaintoolsctf.ini
ctfd.ini
IDEAS.md
pico.ini
shmoocon/
rtcp/*
