wheel
requests
argparse
python-magic
pyzbar
pillow
clipboard
jinja2
pyenchant
pycrypto
pytesseract
dulwich
bs4
base58
pysocks
git+https://github.com/arthaud/python3-pwntools.git
git+https://github.com/elliptic-shiho/primefac-fork
pypdf2
scipy
matplotlib
pdftotext
