wheel
requests
argparse
python-magic
pyzbar
pillow
clipboard
jinja2
pyenchant
pycrypto
pytesseract
dulwich
bs4
base58
pysocks
scipy
pydub
matplotlib
pdftotext
PyPDF2
pyopenssl
sphinx
sphinx-rtd-theme
gmpy
git+https://github.com/elliptic-shiho/primefac-fork#egg=primefac
cmd2=='1.0.1'
watchdog
regex
dbus-python
notify2
